[submodule "External/LocomotorECS/LocomotorECS"]
	path = External/LocomotorECS/LocomotorECS
	url = git@github.com:ApmeM/LocomotorECS.git
[submodule "External/BrainAI/BrainAI"]
	path = External/BrainAI/BrainAI
	url = git@github.com:ApmeM/BrainAI.git
	branch = master
[submodule "External/GeonBit.UI/GeonBit.UI"]
	path = External/GeonBit.UI/GeonBit.UI
	url = git@github.com:ApmeM/GeonBit.UI.git
